<div class="container">
  <div class="row mx-auto my-4">
    <h2>チャット画面</h2>
  </div>


<%# @messages.each do |message| %> <%# ここのインスタンス変数は皆さんのお使いのインスタンス変数に直してくださいね！ %>
<!--    <%# if message.user_id == current_user.id %>-->
<!--      <div id="messages" room_id="<%#= @room.id %>" class="current_user">-->
<!--        <strong class="current_user"><%#= render @messages %></strong>-->
<!--        <small class="current_user"><%#= message.user.full_name %>さん</small>-->
<!--      </div>-->
<!--    <%# else %>-->
<!--      <div id="messages" room_id="<%#= @room.id %>" class="visited_user">-->
<!--        <strong class="visited_user"><%#= render @messages %></strong>-->
<!--        <small class="visited_user"></small>-->
<!--      </div>-->
<!--    <%# end %>-->
<!--<%# end %>-->



<div id="messages" room_id="<%= @room.id %>">
  <%= render @messages %>
</div>


<form>
  <label>エンターキーで送信ができます</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
<%= link_to "健康状態を報告する",new_user_health_center_user_health_path(@room.health_center_id), class:"user_health_-button" %>
