<h2>チャット画面</h2>

<div id="messages" room_id="<%= @room.id %>">
  <%= render @messages %>
</div>

<form>
  <label>こちらから送信できます:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
<%= link_to "健康状態を報告する",new_user_user_health_path, class:"user_health_-button" %>
