<div class="message">
    <div class="my-message" style="text-align: right">
    <p class="pr-5 pt-4"><%= message.created_at.strftime('%m/%d %H:%M') %><br>
    <%= message.message %></p>
     </div>
</div>
