
<div>
  <h1>保健所のお客様</h1>
  背景に画像
  下記から一覧の確認ができます。<br />
  すでに会員登録がお済みの方は<br />
  右上のログインボタンからログインください
</div>

<div class="list-group">
  <h2>保健所の方向けサービス</h2>
  
  <a href="#" list-group-item list-group-item-action>ユーザーの検索<br />チャットによる問い合わせ</a>
  <a href="#" list-group-item list-group-item-action>健康状態の確認</a>
  <a href="#" list-group-item list-group-item-action>チャット一覧</a>
</div>

