<h2>送信された健康状態一覧</h2>


<table class="table table-hover">
  <thead>
    <tr>
     <th></th>
     <th>名前</th>
     <th>送信された日</th>
     <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_healths.each do |user_health| %>
     <tr>
      <td></td>
      <td><%= link_to user_health.user.last_name + user_health.user.first_name, health_center_user_health_path(user_health) %></td>
      <td><%= user_health.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      <td></td>
     </tr>
     <% end %>
  </tbody>
  </table>

<%= paginate @user_healths %>
