
<div class="jumbotron">
  <div class="container">
    <h2 class="display-3 center-block">個人のお客様</h2>
      <p>  下記から一覧の確認ができます。<br />すでに会員登録がお済みの方は<br />右上のログインボタンからログインください</p>
  </div>
</div>

    <div class="container">
      <div class="row">
        <div class="list-group">
        <h2>個人の方向けサービス</h2>
  
          <a href="#" list-group-item list-group-item-action>保健所の検索<br />チャットによる問い合わせ</a>
          <a href="#" list-group-item list-group-item-action>健康状態の報告</a>
          <a href="#" list-group-item list-group-item-action>マイページ</a>
        </div>
      </div>  
    </div>



