
<div>
  <h1>個人のお客様</h1>
  背景に画像
  下記から一覧の確認ができます。<br />
  すでに会員登録がお済みの方は<br />
  右上のログインボタンからログインください
</div>

<div class="list-group">
  <h2>個人の方向けサービス</h2>
  
  <a href="#" list-group-item list-group-item-action>保健所の検索<br />チャットによる問い合わせ</a>
  <a href="#" list-group-item list-group-item-action>健康状態の報告</a>
  <a href="#" list-group-item list-group-item-action>マイページ</a>
</div>

