<div>背景に写真</div>

<div>みんなで繋がり合って、助け合う</div>

<div>
  <table class="table table-hover">
    <tr>
      <th><h2>個人のお客様</h2></th>
      <td><h3>保健所の検索</h3><br />保健所の検索とチャットによるお問い合わせができます</td>
      <td><h3>健康状態の報告</h3><br />自信の健康状態の報告ができます</td>
      <td><h3>マイページ</h3><br />ご自身の各種履歴や個人情報の確認・更新ができます</td>
    </tr>
    <tr>
      <th><h2>保健所のお客様</h2></th>
      <td><h3>ユーザーの検索</h3><br />名前や電話番号で個人の検索ができます</td>
      <td><h3>チャットの一覧</h3><br />チャットの対応はここからできます</td>
      <td><h3>健康状態の確認</h3><br />送信された健康状態はこちらから確認できます</td>
    </tr>
  </table>
</div>