<div class="container chat-back">
<div class="row my-4 ml-4">
  <h2 style="color: white">チャット画面</h2>
</div>

<div id="messages" room_id="<%= @room.id %>" from='health_center' name="<%= current_health_center.name %>">
  <% @messages.where(healthcenter_checked: false).update(healthcenter_checked: true) %>
  <%= render @messages %>
</div>

<form class="mr-5 mb-3" style="text-align: right">
  <label>エンターキーで送信ができます</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
</div>

<%= render '/messages/room_channel' %>
