/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


.header-all {
  width: 1000px;
  justify-content: end;
  border-radius: 0 0 0 150px;
  background-color: rgba(13, 55, 95, 1);
}

.top-img {
  height:550px;
  background-image: url("hands-top.jpg");
  background-size: cover;
}

.top-message {
    color: black;
    text-align: left;
    width: fit-content;
    border-radius: 30px;
    padding: 10px;
    bottom: 20%;
}

.about-img {
  height: 550px;
  background-image: url("about-img.jpg");
  background-size: cover;
}

.about-message {
    color: black;
    text-align: left;
    width: fit-content;
    border-radius: 30px;
    padding: 10px;
    bottom: 20%;
}



.title {
  font-weight: bold;
}

.icon {
  background-image: url("Health_link.jpg");
  background-size: cover;
  height: 80px;
  width: 150px;

}

.nav-link {
  font-weight: bold;
}

.wrapper {
  width: 100%;
}

.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.footer{
    width: 100%;
    background-color: rgba(13, 55, 95, 1);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
}

.ul.footer-menu li {
display: inline;
}

.center-contents {
  width: 100%;
  height: 500px;
  background-color: #e9ecef;
  border-radius: 100px 100px 100px 100px;
}

.edit-contents {
  width: 100%;
  height: 1050px;
  background-color: #e9ecef;
  border-radius: 100px 100px 100px 100px;
}

.datagrid {
  width: 80%;
}
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 3px solid #004C73; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.datagrid table td,
.datagrid table th { padding: 13px 9px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005782), color-stop(1, #005782) );background:-moz-linear-gradient( center top, #005782 5%, #005782 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005782', endColorstr='#005782');background-color:#005782; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; }
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #00557F; border-left: 1px solid #E1EEF4;font-size: 13px;font-weight: normal; }
.datagrid table tbody .alt td { background: #E1EEf4; color: #00557F; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div { border-top: 1px solid #004C73;background: #E1EEf4;}
.datagrid table tfoot td { padding: 0; font-size: 12px }
.datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}

.top-list table { border-collapse: collapse; text-align: left; width: 100%; } .top-list {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 9px solid #004C73; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }.toplist table td, .top-list table th { padding: 13px 9px; }.top-list table tbody td { color: #00557F; font-size: 19px;font-weight: bold; }.top-list table tbody .alt td { background: #E1EEf4; color: #00557F; }.top-list table tbody td:first-child { border-left: none; }.top-list table tbody tr:last-child td { border-bottom: none; }

.validates-errors {
    color:#262626;
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:12px; font-weight:850;
  }

.show-list {
  text-align: center;
  font-size: 18px;
}
.chat-title {
  text-align: center;
}

.chat-back {
  background-color: #d0ebff;
  border-radius: 100px 100px 100px 100px;
}

.my-message {
 font-size: 18px;
}

.your-message {
  font-size: 18px;
}

.form {
  width: 80;
}

.Editlink {
  color: blue;
}

@media screen and (max-width:425px) {
}



